name: Playwright Tests
on:
  push:
    branches: [ main, master, pipeline_tests ]
  pull_request:
    branches: [ main, master, pipeline_tests ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Build & Install
      run: dotnet build
    - name: Ensure browsers are installed
      run: pwsh bin/Debug/net9.0/playwright.ps1 install --with-deps
    - name: Run your tests
      run: dotnet test